p.body-text {
    align-items: center;
    display: block;
}

.about-us-section {
    height: 300px;
    background-color: pink;
    margin: 100px 50px 100px 50px;
    padding: 20px 20px;
    color: white;
    border-radius: 20px;
}
