.banner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center; 
    background-color: white;
    padding: 20px;
    border-bottom: 2px solid pink;
  }
  
  .banner-icon {
    margin-right: 15px; /* Add spacing between the icon and the links */
  }
  
  .dodecahedron-icon {
    width: 30px; /* Adjust the size of the PNG icon */
    height: 30px;
    object-fit: contain; /* Ensure the image scales properly */
  }

  .banner-left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
    
  .banner-links a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .banner-links a:hover {
    color: blue;
  }

  /* Highlight the active link */
.banner-links .active-link {
  /* color: #007bff;  */
  border-bottom: 2px solid pink; /* Add an underline to the active link */
}

.logout-button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: palevioletred;
}

.logout-button:hover {
  color: blue;
}