/* Modal overlay to blur the background */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; 
  z-index: 1000; 
}

.modal-content input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  box-sizing: border-box;
}

.close-button {
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.close-button:hover {
  color: #ff0000; 
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 0;
  border-radius: 8px;
  width: 70%; 
  max-width: 1000px; 
  max-height: 90%; 
  overflow: hidden; 
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  margin: 0 auto;
  display: flex;
  flex-direction: column; 
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4; /* Light gray background for the header */
  border-bottom: 1px solid #ccc; /* Add a border to separate the header */
  font-size: 18px;
  font-weight: bold;
  flex-shrink: 0; /* Prevent the header from shrinking */
}

/* Modal body styling */
.modal-body {
  padding: 20px;
  overflow-y: auto; 
  flex-grow: 1; 
  box-sizing: border-box;
}

.form-group input[type="color"] {
  flex: none;
  width: 40px;
  height: 40px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  padding: 10;
  cursor: pointer; 
}

.form-footer {
  display: flex;
  justify-content: flex-end; 
  gap: 10px;
}

.form-footer button {
  padding: 10px 20px;
  margin-top: 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
}

.form-footer button:hover {
  background-color: #0056b3;
}

.form-footer button[type="button"] {
  background-color: #ccc;
}

.form-footer button[type="button"]:hover {
  background-color: #999;
}