/* Ensure the footer stays at the bottom */
.footer {
    background-color: white;
    padding: 50px 0px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo {
    width: 40px;
    height: 40px;
  }
  
  .company-name {
    font-size: 18px;
  }
  
  .footer-social {
    display: flex;
    gap: 15px;
  }
  
  .social-icon {
    font-size: 24px;
    color: pink;
    transition: color 0.3s ease;
  }
  
  .social-icon:hover {
    color: palevioletred;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-link {
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .footer-link:hover {
    color: palevioletred;
    transform: scale(1.1);
  }

  .footer-link:visited {
    color: black;
  }

  .footer-link:visited:hover {
    color: palevioletred;
  }

